.author-name
{
  font-weight:bold;
  margin-bottom: 10px;
}

.hero-container
{
  position: relative;
}

.hero-img
{
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo
{
  margin: 0.5em 1.5em 0.5em 1.5em;
}

#logo .image
{
  margin: 0 0 0 0;
}

@media(max-width: 960px)
{
  #logo h1
  {
    margin-left: 48px;
  }

  #logo img{
    height: 48px;
    width: auto;
  }
}

.skill-square
{
  padding: 10px;
}