<!-- About Us -->
<section id="about" class="two">
  <div class="container">
    <header>
        <h2>About Us</h2>
    </header>
    <div class="row">
      {{ range .Params.partners }} 
      <div class="6u 12u$(mobile)">
        <h4 class="author-name">{{ .name }}</h4>
        <a href="#" class="image featured">
            <img src="{{ .img }}" alt="" />
          </a>
  
        <p>{{ with .bio }}{{ . | markdownify }}{{ end }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
