<!-- Image Gallery -->
<section id="gallery" class="two">
  <div class="container">
    <header>
      <h2>{{ .Params.heading }}</h2>
    </header>
    <div class="row">
      <div class="img-gallery">
          {{ range .Params.images }}
            <a data-featherlight="https://res.cloudinary.com/awko-sock-co/image/upload/v1572810373/beyond-the-bridge/{{ .img }}"><div class="gallery-img-container"><div class="img" style="background-image:url('https://res.cloudinary.com/awko-sock-co/image/upload/c_scale,w_200/v1572810373/beyond-the-bridge/{{ .img }}')"></div></div></a>
          {{end}}
      </div>
    </div>
  </div>
</section>